* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.landing {
  background-image: url(./unsplash_dcPThE8G59E.png);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .text {
  text-align: center;
  width: 50%;
}

.landing h1 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 80px;
}

.landing p {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.landing .text button {
  padding: 24px 48px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .text {
    width: 100%;
  }
  .landing h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
  }

  .landing p {
    font-size: calc(26px / 2);
    margin-bottom: 20px;
  }

  .landing .text button {
    padding: 12px 24px;
    font-size: 12px;
  }
}

.children {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.child {
  /* overflow: hidden; */
  max-width: 100%;
  height: 524px;
  position: relative;
}

.child::before {
  content: "";
  background: rgba(0, 0, 0, 0.44);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.title {
  display: flex;
  max-width: 100%;
  padding: 24px 46px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  color: white;
}

@media (max-width:768px) {
  .title {
    padding:10px 20px;
  }
  
}

.child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
